---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: proxmox-csi-zwave-js-ui-config
  namespace: home
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: proxmox-csi-ext4-ssd