---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uptime-kuma-config-proxmox-csi-pvc
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: proxmox-csi-ext4-ssd

