---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: garage-premium-metadata.pvc
  namespace: garage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: proxmox-csi-ext4-ssd-zfs
  volumeMode: Filesystem
  volumeName: pvc-5c1d0866-74b4-484f-b2b2-57ea7a31f7f3
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-garage-premium-pv
  namespace: garage
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteOnce
  mountOptions:
    - nfsvers=4
    - port=2049
  nfs:
    path: /tank/appdata/garage
    server: "${NFS_SERVER}"
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-garage-premium-pvc
  namespace: garage
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  volumeName: nfs-garage-premium-pv
