---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: garage-bulk-metadata.pvc
  namespace: garage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: proxmox-csi-ext4-ssd-zfs
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-garage-bulk-pv
  namespace: garage
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteOnce
  mountOptions:
    - nfsvers=4
    - port=2049
  nfs:
    path: /dumpster/backups/garage
    server: "${NFS_SERVER}"
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-garage-bulk-pvc
  namespace: garage
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  volumeName: nfs-garage-bulk-pv