---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: proxmox-csi-audiobookshelf-config-pvc
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: proxmox-csi-ext4-ssd
  volumeMode: Filesystem
  volumeName: pvc-a8bb5d21-1197-48ea-a862-d468387bb98d
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: proxmox-csi-audiobookshelf-metadata-pvc
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: proxmox-csi-ext4-ssd
  volumeMode: Filesystem
  volumeName: pvc-3a19a819-273e-4d6d-ac97-f472a9c7a29f
# ---
# apiVersion: v1
# kind: PersistentVolume
# metadata:
#   name: nfs-audiobooks-pv
#   namespace: media
# spec:
#   capacity:
#     storage: 1000Gi
#   accessModes:
#     - ReadWriteOnce
#   mountOptions:
#     - nfsvers=4
#     - port=2049
#   nfs:
#     path: /tank/user_files/shared/audiobooks
#     server: "${NFS_SERVER}"
#   persistentVolumeReclaimPolicy: Retain
# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: nfs-audiobooks-pvc
#   namespace: media
# spec:
#   storageClassName: ""
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 1000Gi
#   volumeName: nfs-audiobooks-pv
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-abs-audio-pv
  namespace: media
spec:
  capacity:
    storage: 1000Gi
  accessModes:
    - ReadWriteOnce
  mountOptions:
    - nfsvers=4
    - port=2049
  nfs:
    path: /tank/user_files/shared/audio
    server: "${NFS_SERVER}"
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-abs-audio-pvc
  namespace: media
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1000Gi
  volumeName: nfs-abs-audio-pv
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-audiobookshelf-backups-pv
  namespace: media
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  mountOptions:
    - nfsvers=4
    - port=2049
  nfs:
    path: /dumpster/backups/apps/audiobookshelf
    server: "${NFS_SERVER}"
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-audiobookshelf-backups-pvc
  namespace: media
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeName: nfs-audiobookshelf-backups-pv
