---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: proxmox-csi-obsidian-data
  namespace: obsidian-couchdb
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: proxmox-csi-ext4-ssd
