# ---
# apiVersion: v1
# kind: PersistentVolume
# metadata:
#   annotations:
#     pv.kubernetes.io/provisioned-by: driver.longhorn.io
#   name: pvc-6781b4f0-a39b-4a74-be34-cd0ae72fd97a
# spec:
#   accessModes:
#     - ReadWriteOnce
#   capacity:
#     storage: 5Gi
#   csi:
#     driver: driver.longhorn.io
#     fsType: ext4
#     volumeHandle: pvc-6781b4f0-a39b-4a74-be34-cd0ae72fd97a
#   persistentVolumeReclaimPolicy: Retain
#   storageClassName: longhorn
#   volumeMode: Filesystem
# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: longhorn-obsidian-data
#   namespace: obsidian-couchdb
# spec:
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 5Gi
#   storageClassName: longhorn
#   volumeMode: Filesystem
#   volumeName: pvc-6781b4f0-a39b-4a74-be34-cd0ae72fd97a
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: proxmox-csi-obsidian-data
  namespace: obsidian-couchdb
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: proxmox-csi-ext4-ssd
