---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-proxmox-csi-ssd
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 15Gi
  storageClassName: proxmox-csi-ext4-ssd
  volumeMode: Filesystem
  volumeName: pvc-8ef26d21-92f0-4b44-bf5a-9efb2827fcce
# ---
# apiVersion: v1
# kind: PersistentVolume
# metadata:
#   name: nfs-music-pv
#   namespace: media
# spec:
#   capacity:
#     storage: 100Gi
#   accessModes:
#     - ReadWriteOnce
#   mountOptions:
#     - nfsvers=4
#     - port=2049
#   nfs:
#     path: /tank/user_files/shared/music
#     server: "${NFS_SERVER}"
#   persistentVolumeReclaimPolicy: Retain
# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: nfs-music-pvc
#   namespace: media
# spec:
#   storageClassName: ""
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 100Gi
#   volumeName: nfs-music-pv
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-plex-video-pv
  namespace: media
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteOnce
  mountOptions:
    - nfsvers=4
    - port=2049
  nfs:
    path: /dumpster/video
    server: "${NFS_SERVER}"
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-plex-video-pvc
  namespace: media
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  volumeName: nfs-plex-video-pv
# ---
# apiVersion: v1
# kind: PersistentVolume
# metadata:
#   name: nfs-plex-audiobooks-pv
#   namespace: media
# spec:
#   capacity:
#     storage: 1000Gi
#   accessModes:
#     - ReadWriteMany
#   mountOptions:
#     - nfsvers=4
#     - port=2049
#   nfs:
#     path: /tank/user_files/shared/audiobooks
#     server: "${NFS_SERVER}"
#   persistentVolumeReclaimPolicy: Retain
# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: nfs-plex-audiobooks-pvc
#   namespace: media
# spec:
#   storageClassName: ""
#   accessModes:
#     - ReadWriteMany
#   resources:
#     requests:
#       storage: 1000Gi
#   volumeName: nfs-plex-audiobooks-pv
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-plex-audio-pv
  namespace: media
spec:
  capacity:
    storage: 1000Gi
  accessModes:
    - ReadWriteMany
  mountOptions:
    - nfsvers=4
    - port=2049
  nfs:
    path: /tank/user_files/shared/audio
    server: "${NFS_SERVER}"
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-plex-audio-pvc
  namespace: media
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1000Gi
  volumeName: nfs-plex-audio-pv
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-video-transcode-pv
  namespace: media
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteOnce
  mountOptions:
    - nfsvers=4
    - port=2049
  nfs:
    path: /dumpster/video/transcode
    server: "${NFS_SERVER}"
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-video-transcode-pvc
  namespace: media
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  volumeName: nfs-video-transcode-pv
# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: proxmox-csi-test
#   namespace: media
# spec:
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 1Gi
#   storageClassName: proxmox-csi-ext4-ssd
# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: proxmox-csi-test-zfs
#   namespace: media
# spec:
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 1Gi
#   storageClassName: proxmox-csi-ext4-ssd-zfs
